<!-- Start search box -->
<div id="mu-search">
    <div class="mu-search-area">      
      <button class="mu-search-close"><span class="fa fa-close"></span></button>
      <div class="container">
        <div class="row">
          <div class="col-md-12">            
            <form class="mu-search-form">
              <input type="search" placeholder="Type Your Keyword(s) & Hit Enter">              
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End search box -->
  <!-- Start Slider -->
  <section id="mu-slider">
    <!-- Start single slider item -->

   <% slider.forEach(item => {%>
      <div class="mu-slider-single">
        <div class="mu-slider-img">
          <figure>
            <img src="assets/img/slider/<%= item.imgnum %>.jpg" alt="img">
          </figure>
        </div>
        <div class="mu-slider-content">
          <h4><%= item.h4 %></h4>
          <span></span>
          <h2><%= item.h2 %></h2>
          <p><%= item.p %></p>
          <a href="#" class="mu-read-more-btn">Read More</a>
        </div>
      </div>
    <%})%>
    <!-- Start single slider item -->    
  </section>
  <!-- End Slider -->
  <!-- Start service  -->
  <section id="mu-service">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="mu-service-area">
            <!-- Start single service -->
            <% data.forEach(item => {%>
              <div class="mu-service-single">
                <span class="<%= item.spanName %>"></span>
                <h3><%= item.title %></h3>
                <p><%= item.p %></p>
              </div>
            <%}) %>
            <!-- Start single service -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End service  -->
  
  <!-- Start about us -->
  <section id="mu-about-us">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-about-us-area">           
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="mu-about-us-left">
                  <!-- Start Title -->
                  <div class="mu-title">
                    <h2>Biz haqimizda</h2>              
                  </div>
                  <!-- End Title -->
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum pariatur fuga eveniet soluta aspernatur rem, nam voluptatibus voluptate voluptates sapiente, inventore. Voluptatem, maiores esse molestiae.</p>
                  <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    <li>Saepe a minima quod iste libero rerum dicta!</li>
                    <li>Voluptas obcaecati, iste porro fugit soluta consequuntur. Veritatis?</li>
                    <li>Ipsam deserunt numquam ad error rem unde, omnis.</li>
                    <li>Repellat assumenda adipisci pariatur ipsam eos similique, explicabo.</li>
                  </ul>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis quaerat harum facilis excepturi et? Mollitia!</p>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="mu-about-us-right">                            
                <a id="mu-abtus-video" href="https://www.youtube.com/watch?v=-zZ54gFLkq4" target="mutube-video">
                  <img src="assets/img/about-us.jpg" alt="img">
                </a>                
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End about us -->
  
  <!-- Start about us counter -->
  <section id="mu-abtus-counter">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-abtus-counter-area">
            <div class="row">  
              <!-- Start counter item -->
              <% counter.forEach(item => {%>
                <div class="col-lg-3 col-md-3 col-sm-3">
                  <div class="mu-abtus-counter-single no-border">
                    <span class="fa fa-user-secret"></span>
                    <h4 class="counter"><%= item.h4 %></h4>
                    <p><%= item.p %></p>
                  </div>
                </div>
              <%}) %>
              <!-- End counter item -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End about us counter -->
  
  <!-- Start features section -->
  <section id="mu-features">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="mu-features-area">
            <!-- Start Title -->
            <div class="mu-title">
              <h2>Our Features</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio ipsa ea maxime mollitia, vitae voluptates, quod at, saepe reprehenderit totam aliquam architecto fugiat sunt animi!</p>
            </div>
            <!-- End Title -->
            <!-- Start features content -->
            <div class="mu-features-content">
              <div class="row">
                <% features.forEach(item => {%>
                  <div class="col-lg-4 col-md-4  col-sm-6">
                    <div class="mu-single-feature">
                      <span class="<%= item.span %>"></span>
                      <h4><%= item.nameh4 %></h4>
                      <p><%= item.p %></p>
                      <a href="/<%= item._id %>">Read More</a>
                    </div>
                  </div>
                <%}) %>
              </div>
            </div>
            <!-- End features content  -->
          </div>
          <!-- End features content -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End features section -->

<!-- Start latest course section -->
<section id="mu-latest-courses">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="mu-latest-courses-area">
          <!-- Start Title -->
          <div class="mu-title">
            <h2>Latest Courses</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio ipsa ea maxime mollitia, vitae voluptates, quod at, saepe reprehenderit totam aliquam architecto fugiat sunt animi!</p>
          </div>
          <!-- End Title -->
          <!-- Start latest course content -->
          <div id="mu-latest-course-slide" class="mu-latest-courses-content">
            <% course.forEach(item => {%>
              <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="mu-latest-course-single">
                  <figure class="mu-latest-course-img">
                    <a href="<%= item.linc %>"><img src="assets/img/<%= item.img %>" alt="img"></a>
                    <figcaption class="mu-latest-course-imgcaption">
                      <a href="<%= item.linc %>"><%= item.fan %></a>
                      <span><i class="fa fa-clock-o"></i><%= item.kun %>Days</span>
                    </figcaption>
                  </figure>
                  <div class="mu-latest-course-single-content">
                    <h4><a href="<%= item.linc %>"><%= item.h4 %></a></h4>
                    <p><%= item.p %></p>
                    <div class="mu-latest-course-single-contbottom">
                      <a class="mu-course-details" href="#">Details</a>
                      <span class="mu-course-price" href="#"><%= item.narxi %></span>
                    </div>
                  </div>
                </div>
              </div>
            <%}) %>
          </div>
          <!-- End latest course content -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End latest course section -->

<!-- Start our teacher -->
<section id="mu-our-teacher">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mu-our-teacher-area">
          <!-- begain title -->
          <div class="mu-title">
            <h2>Our Teachers</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, repudiandae, suscipit repellat minus molestiae ea.</p>
          </div>
          <!-- end title -->
          <!-- begain our teacher content -->
          <div class="mu-our-teacher-content">
            <div class="row">
              <% teacherComtent.forEach(item => {%>
                <div class="col-lg-3 col-md-3  col-sm-6">
                  <div class="mu-our-teacher-single">
                    <figure class="mu-our-teacher-img">
                      <img src="assets/img/teachers/<%= item.img %>" alt="teacher img">
                      <div class="mu-our-teacher-social">
                        <a href="#"><span class="fa fa-facebook"></span></a>
                        <a href="#"><span class="fa fa-twitter"></span></a>
                        <a href="#"><span class="fa fa-linkedin"></span></a>
                        <a href="#"><span class="fa fa-google-plus"></span></a>
                      </div>
                    </figure>                    
                    <div class="mu-ourteacher-single-content">
                      <h4><%= item.nameh4 %></h4>
                      <span><%= item.profan %></span>
                      <p><%= item.p %></p>
                    </div>
                  </div>
                </div>
              <%})%>  
              </div>
            </div>
          </div> 
          <!-- End our teacher content -->           
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End our teacher -->

<!-- Start testimonial -->
<section id="mu-testimonial">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mu-testimonial-area">
          <div id="mu-testimonial-slide" class="mu-testimonial-content">
            <!-- start testimonial single item -->
            <% testimonial.forEach(item => { %>
              <div class="mu-testimonial-item">
                <div class="mu-testimonial-quote">
                  <blockquote>
                    <p><%= item.p %></p>
                  </blockquote>
                </div>
                <div class="mu-testimonial-img">
                  <img src="assets/img/<%= item.img %>" alt="img">
                </div>
                <div class="mu-testimonial-info">
                  <h4><%= item.name %></h4>
                  <span><%= item.kasp %></span>
                </div>
              </div>
            <% }) %>
            <!-- end testimonial single item -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End testimonial -->

<!-- Start from blog -->
<section id="mu-from-blog">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mu-from-blog-area">
          <!-- start title -->
          <div class="mu-title">
            <h2>From Blog</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum vitae quae vero ut natus. Dolore!</p>
          </div>
          <!-- end title -->  
          <!-- start from blog content   -->
          <div class="mu-from-blog-content">
            <div class="row">
              <% newfromblog.forEach(item => {  %>
                <div class="col-md-4 col-sm-4">
                  <article class="mu-blog-single-item">
                    <figure class="mu-blog-single-img">
                      <a href="<%= item.linc %>"><img src="assets/img/blog/<%= item.img %>" alt="img"></a>
                      <figcaption class="mu-blog-caption">
                        <h3><a href="<%= item.linc %>"><%= item.h3 %></a></h3>
                      </figcaption>                      
                    </figure>
                    <div class="mu-blog-meta">
                      <a href="<%= item.linc %>"><%= item.admin %></a>
                      <a href="<%= item.linc %>"><%= item.date %></a>
                      <span><i class="fa fa-comments-o"></i><%= item.commit %></span>
                    </div>
                    <div class="mu-blog-description">
                      <p><%= item.p %></p>
                      <a class="mu-read-more-btn" href="<%= item.linc %>">Read More</a>
                    </div>
                  </article>
                </div>
              <%}) %>
            </div>
          </div>     
          <!-- end from blog content   -->   
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End from blog -->